@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

// Animation
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin rotate-infinite() {
  animation: rotation 1s infinite linear;
}

.rotate-infinite {
  @include rotate-infinite();
}

:root {
  --primary: rgb(254, 44, 85);
  --white: #fff;
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-search-width: 361px;
  --default-search-height: 46px;
  --default-layout-vertical-spacer: 24px;
  --default-menu-items-width: 224px;
  --default-noti-box-height: 20px;
  --text-color-dark: rgba(22, 24, 35, 1);
  --text-color-back: rgba(0 0 0);
  --font-proximanova: 'ProximaNova', sans-serif;
}

// Embeded Fonts
@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/Proxima-Nova-Bold.woff') format('woff'),
    url('/assets/fonts/Proxima-Nova-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'SofiaPro';
  src: url('/assets/fonts/sofiapro-bold.woff') format('woff'), url('/assets/fonts/sofiapro-bold.woff2') format('woff2');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  // Scrollbar CSS
  *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
  }
  *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

body {
  font-family: var(--font-proximanova);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color-dark, rgba(22, 24, 35, 1));
  overflow-y: overlay;
}

a,
button,
input {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  color: var(--text-color-dark);
}

// Customize Tippy

body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
    color: var(--white);
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
  .tippy-content {
    padding: 8px 9px;
  }
  .tippy-box[data-placement^='bottom'] > .tippy-arrow {
    top: -1px;
  }
}
